# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/backen/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/node_modules/.bin/color-support
backend/node_modules/.bin/color-support.cmd
backend/node_modules/.bin/color-support.ps1
backend/node_modules/.bin/mime
backend/node_modules/.bin/mime.cmd
backend/node_modules/.bin/mime.ps1
backend/node_modules/.bin/mkdirp
backend/node_modules/.bin/mkdirp.cmd
backend/node_modules/.bin/mkdirp.ps1
backend/node_modules/.bin/node-pre-gyp
backend/node_modules/.bin/node-pre-gyp.cmd
backend/node_modules/.bin/node-pre-gyp.ps1
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodemon.cmd
backend/node_modules/.bin/nodemon.ps1
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nodetouch.cmd
backend/node_modules/.bin/nodetouch.ps1
backend/node_modules/.bin/nopt
backend/node_modules/.bin/nopt.cmd
backend/node_modules/.bin/nopt.ps1
backend/node_modules/.bin/rimraf
backend/node_modules/.bin/rimraf.cmd
backend/node_modules/.bin/rimraf.ps1
backend/node_modules/.bin/semver
backend/node_modules/.bin/semver.cmd
backend/node_modules/.bin/semver.ps1
backend/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backend/node_modules/make-dir/node_modules/.bin/semver
backend/node_modules/make-dir/node_modules/.bin/semver.cmd
backend/node_modules/make-dir/node_modules/.bin/semver.ps1
backend/node_modules/.bin/color-support
backend/node_modules/.bin/mime
backend/node_modules/.bin/mkdirp
backend/node_modules/.bin/node-pre-gyp
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/rimraf
backend/node_modules/.bin/semver
backend/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backend/node_modules/make-dir/node_modules/.bin/semver
backend/node_modules/.package-lock.json
backend/node_modules/.bin/color-support
backend/node_modules/.bin/mime
backend/node_modules/.bin/mkdirp
backend/node_modules/.bin/node-pre-gyp
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/rimraf
backend/node_modules/.bin/semver
backend/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backend/node_modules/fsevents/fsevents.d.ts
backend/node_modules/fsevents/fsevents.js
backend/node_modules/fsevents/fsevents.node
backend/node_modules/fsevents/LICENSE
backend/node_modules/fsevents/package.json
backend/node_modules/fsevents/README.md
backend/node_modules/make-dir/node_modules/.bin/semver
