.info-container{
    background-color: #0582CA;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid #051923 3px;
    margin-top: 18vh;
    margin-bottom: 5vh;
  }

.info-submit-button{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    height: 50px;
    width: 100px;
}