.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #00A6FB;
}

.navbar-button{
    width: 200px;
    height: 50px;
    margin-right: 20px;
    border-radius: 15px;
}

.navbar-left{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
  
.navbar-right {
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 30px;
    color: #00A6FB;
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
    color: #6cceff
}


  