.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #00A6FB, #0582CA 48%, #006494);
}

.auth-container, .login-form, .register-form, .info-container {
  display: flex;
  flex-direction: column;
}

.auth-container {
  padding-top: 25vh;
}

form{
  padding: 5px;
}

input{
  margin: 5px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

button{
  color: white;
  border: none;
  background-color: #003554;
  border-radius: 5px;
  padding: 4px;
}
button:hover{
  cursor: pointer;
  background-color: #051923;
}